{% extends "layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="../static/css/arts.css">
{% endblock %}

{% block content %}
<div class="contents">
    <div class="search">
        <form method="post" action="" id="search-form">
            <input type="text" name="search" placeholder="Search">
            <input type="image" src="../static/images/search-icon.png" alt="검색" style="width: 40px; height: 40px; position:relative; top: 10px; left: 10px;">
        </form>
    </div>

    <section>
        <div class="section-div-box">
            <div class="art-gallery-box">
                <div class="art-gallery-box-row">
                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>
                </div>

                <div class="art-gallery-box-row">
                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="img-box art-gallery-img-box">
                            <a href="#">
                                <img src="../static/images/aedrian-cDe4G55k6pE-unsplash.jpg" alt="pixel art 1">
                            </a>
                        </div>
                        <div class="gallery-content-box">
                            <a href="#"><p>제목</p></a>
                            <p>작성자</p>
                            <p>
                                <span>작성일 : </span><span>2023.07.26</span>
                                <span>조회수 : </span><span>0</span>
                            </p>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="page">
    <ul class="pagination">
        <li><a class="first" href="#">처음</a></li>
        <li><a class="arrow left" href="#"><</a></li>
        <li><a class="active num" href="#">1</a></li>
        <li><a class="active num" href="#">2</a></li>
        <li><a class="active num" href="#">3</a></li>
        <li><a class="active num" href="#">4</a></li>
        <li><a class="active num" href="#">5</a></li>
        <li><a class="active num" href="#">6</a></li>
        <li><a class="active num" href="#">7</a></li>
        <li><a class="active num" href="#">8</a></li>
        <li><a class="active num" href="#">9</a></li>
        <li><a class="active num" href="#">10</a></li>
        <li><a class="arrow right" href="#">></a></li>
        <li><a class="last" href="#">끝</a></li>
    </ul>
</div>
{% endblock %}