<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/basic_form/base.css">
        <link rel="stylesheet" href="css/account_form/login.css">
    </head>

    <body>
        <div id="wrap">
            <header>
                <h1>Only Pixel : Login</h1>
                <div class="logo-img-box">
                    <a href="home.html">
                        <img src="images/game-logo-removebg-preview.png" alt="logo">
                    </a>
                </div>
            </header>

            <main>
                <div class="login-wrap">
                    <form method="post" action="home.html" id="login-form">
                        <input type="text" name="ID" placeholder="Email">
                        <input type="password" name="PW" placeholder="Password">
                        <label for="remember-check">
                            <input type="checkbox" id="remember-check"> 아이디 저장하기
                        </label>
                        <input type="submit" value="Login">
                    </form>
                </div>
                
                <ul class="find-wrap">
                    <li><a href="#">비밀번호 찾기</a></li>
                    <li><a href="#">아이디 찾기</a></li>
                    <li><a href="signup.html">회원가입</a></li>
                </ul>
            </main>

            <footer>
                <div class="footer-wrap">
                    <p>2023 Only Pixel</p>
                </div>
            </footer>
        </div>
    </body>
</html>