<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Pixel Game Web Page</title>
        <link rel="stylesheet" href="../static/css/basic_form/base.css">
        <link rel="stylesheet" href="../static/css/basic_form/nav_footer.css">
        <link rel="stylesheet" href="../static/css/mini_game.css">
    </head>
<body>
    <div id="wrap">
        <header>
            <h1>Only Pixel - Mini Game</h1>
            
            <div class="login-signup">
                <a href="login.html">로그인</a>
                <span> | </span>
                <a href="signup.html">회원가입</a>
            </div>

            <nav class="navigation">
                <div class="logo">
                    <a href="home.html"><img src="../static/images/game-logo-removebg-preview.png" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="news.html">News</a></li>
                    <li><a href="game.html">Recommendation</a></li>
                    <li><a href="art_gallery.html">Art Gallery</a></li>
                    <li><a href="mini_game.html">Mini Game</a></li>
                    <li><a href="community.html">Community</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="section-div-box">
                <p>서비스 준비 중입니다 :D</p>
            </div>
        </main>
    </div>
</body>
</html>