{% extends "layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="../static/css/news_detail.css">
{% endblock %}

{% block content %}
<div class="section-div-box">
    <div class="news-title">
        <h2>{{ news_item.title }}</h2>
        <ul class="news-info">
            <li>작성자 : <span>{{ news_item.author }}</span></li>
            <li>작성일 : <span>{{ news_item.written_date }}</span></li>
            {% if news_item.last_modified_date != news_item.written_date %}
            <li>수정일 : <span>{{ news_item.last_modified_date }}</span></li>
            {% endif %}
            <li>조회수 : <span>{{ news_item.views }}</span></li>
        </ul>
    </div>
    <section>
        <article class="news-content">
            <div id="added_content">
                {{ news_item.content_with_tag | safe}}
            </div>
        </article>
    </section>
    <div class="share">
        <ul>
            <li><a>share</a></li>
            <li><a>copy</a></li>
            <li><a>email</a></li>
        </ul>
    </div>
    <div class="like">
        <div class="like-img-box">
            <img src="../static/images/heart.png", alt="like">
        </div>
        <p>{{ news_item.likes }}</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function add_content(text) {
        const element = document.getElementById('added_content');
        element.innerHTML += text;
    }
</script>
{% endblock %}