<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Pixel Game Web Page</title>
        <link rel="stylesheet" href="css/basic_form/base.css">
        <link rel="stylesheet" href="css/basic_form/nav_footer.css">
        <link rel="stylesheet" href="css/news.css">
    </head>

    <body>
        <div id="wrap">
            <header>
                <h1>Only Pixel</h1>
                
                <div class="login-signup">
                    <a href="login.html">로그인</a>
                    <span> | </span>
                    <a href="signup.html">회원가입</a>
                </div>

                <nav class="navigation">
                    <div class="logo">
                        <a href="home.html"><img src="images/game-logo-removebg-preview.png" alt="Logo"></a>
                    </div>
                    <ul>
                        <li><a href="news.html">News</a></li>
                        <li><a href="recommendation.html">Recommendation</a></li>
                        <li><a href="art_gallery.html">Art Gallery</a></li>
                        <li><a href="#">Mini Game</a></li>
                        <li><a href="community.html">Community</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="contents">
                    <div class="search">
                        <form method="post" action="" id="search-form">
                            <input type="text" name="search" placeholder="Search">
                            <input type="image" src="images/search-icon.png" alt="검색" style="width: 40px; height: 40px; position:relative; top: 10px; left: 10px;">
                        </form>
                    </div>
                    <section>
                        <div class="section-div-box">
                            <article>
                                <a href="#">
                                    <div class="img-box news-img-box"><img src="images/nassim-allia-ot-HSrLNTP0-unsplash.jpg" alt="news1"></div>
                                </a>
                                    <div class="news-content-box">
                                        <a href="#"><h3>WorldBox - God Simulator</h3></a>
                                        <p>article contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle contentarticle content</p>
                                        <p><span>author</span> | <span>2023.07.23</span></p>
                                    </div>
                            </article>
                            <article>
                                <a href="#">
                                    <div class="img-box news-img-box"><img src="images/nassim-allia-ot-HSrLNTP0-unsplash.jpg" alt="news1"></div>
                                </a>
                                    <div class="news-content-box">
                                        <a href="#"><h3>article1-1</h3></a>
                                        <p>article content</p>
                                        <p><span>author</span> | <span>2023.07.23</span></p>
                                    </div>
                            </article>
                        </div>
                    </section>
                </div>
                <div class="page">
                    <ul class="pagination">
                        <li><a class="first" href="#">처음</a></li>
                        <li><a class="arrow left" href="#"><</a></li>
                        <li><a class="active num" href="#">1</a></li>
                        <li><a class="active num" href="#">2</a></li>
                        <li><a class="active num" href="#">3</a></li>
                        <li><a class="active num" href="#">4</a></li>
                        <li><a class="active num" href="#">5</a></li>
                        <li><a class="active num" href="#">6</a></li>
                        <li><a class="active num" href="#">7</a></li>
                        <li><a class="active num" href="#">8</a></li>
                        <li><a class="active num" href="#">9</a></li>
                        <li><a class="active num" href="#">10</a></li>
                        <li><a class="arrow right" href="#">></a></li>
                        <li><a class="last" href="#">끝</a></li>
                    </ul>
                </div>
            </main>

            <footer>
                <div class="footer-wrap">
                    <div class="footer-top">
                        <div class="desc">
                            <div class="desc-logo-box">
                                <img src="images/game-logo-removebg-preview.png" alt="logo">
                            </div>
                        </div>

                        <div class="sns">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="sns-img-box">
                                            <img src="images/youtube.png" alt="youtube">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sns-img-box">
                                            <img src="images/instagram.png" alt="instagram">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sns-img-box">
                                            <img src="images/twitch.png" alt="twitch">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>2023 Only Pixel</p>
                </div>
            </footer>
        </div>
    </body>
</html>