<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/basic_form/base.css">
        <link rel="stylesheet" href="../static/css/basic_form/nav_footer.css">
        <link rel="stylesheet" href="../static/css/news_detail.css">
    </head>
    <body>
        <div id="wrap">
            <header>
                <h1>Only Pixel</h1>
                
                <div class="login-signup">
                    <a href="login.html">로그인</a>
                    <span> | </span>
                    <a href="signup.html">회원가입</a>
                </div>

                <nav class="navigation">
                    <div class="logo">
                        <a href="home.html"><img src="./images/game-logo-removebg-preview.png" alt="Logo"></a>
                    </div>
                    <ul>
                        <li><a href="news.html">News</a></li>
                        <li><a href="game.html">Recommendation</a></li>
                        <li><a href="art_gallery.html">Art Gallery</a></li>
                        <li><a href="mini_game.html">Mini Game</a></li>
                        <li><a href="community.html">Community</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="section-div-box">
                    <h2>title</h2>
                    <p>blahblah</p>
                </div>
            </main>
            
            <footer>
                <div class="footer-wrap">
                    <div class="footer-top">
                        <div class="desc">
                            <div class="desc-logo-box">
                                <img src="../static/images/game-logo-removebg-preview.png" alt="logo">
                            </div>
                        </div>

                        <div class="sns">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="sns-img-box">
                                            <img src="../static/images/youtube.png" alt="youtube">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sns-img-box">
                                            <img src="../static/images/instagram.png" alt="instagram">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sns-img-box">
                                            <img src="../static/images/twitch.png" alt="twitch">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>2023 Only Pixel</p>
                </div>
            </footer>
        </div>
    </body>
</html>