{% extends "layout.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="../static/css/news.css">
{% endblock %}

{% block content %}
<div class="contents">
    <div class="search">
        <form method="post" action="" id="search-form">
            <input type="text" name="search" placeholder="Search">
            <input type="image" src="../static/images/search-icon.png" alt="검색" style="width: 40px; height: 40px; position:relative; top: 10px; left: 10px;">
        </form>
    </div>
    <section>
        <div class="section-div-box">
            {% for news_item in news_list %}
            <article>
                <a href="#" onclick="window.location.href='http://127.0.0.1:8000/news/{{ news_item.id }}'">
                    <div class="img-box news-img-box"><img src="{{ news_item.image_path[0] }}" alt="news1"></div>
                </a>
                    <div class="news-content-box">
                        <a href="#" onclick="window.location.href='http://127.0.0.1:8000/news/{{ news_item.id }}'">
                            <h3>{{ news_item.title }}</h3>
                        </a>
                        <p>{{ news_item.content }}</p>
                        <p><span>{{ news_item.author }}</span> | <span>{{ news_item.written_date }}</span></p>
                    </div>
            </article>
            {% endfor %}
        </div>
    </section>
</div>
<div class="page">
    <ul class="pagination">
        <li><a class="first" href="/news?page=0">처음</a></li>
        {% if page != 0 %}
        <li><a class="arrow left" href="/news?page={{ page - 1 }}"><</a></li>
        {% endif %}
        {% for i in range(0, total//10+1) %}
        <li><a class="active num" href="#">{{ i }}</a></li>
        {% endfor %}
        {% if page < total // 10 %}
        <li><a class="arrow right" href="/news?page={{ total // 10 }}">></a></li>
        {% endif %}
        <li><a class="last" href="/news?page={{ total // 10 }}">끝</a></li>
    </ul>
</div>
{% endblock %}