<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/basic_form/base.css">
        <link rel="stylesheet" href="../static/css/account_form/signup.css">
    </head>
    <body>
        <div id="wrap">
            <header>
                <h1>Sign Up Page</h1>
                <div class="logo-img-box">
                    <a href="/">
                        <img src="../static/images/game-logo-removebg-preview.png" alt="logo">
                    </a>
                </div>
                <h2>Create your account</h2>
                <p>Note that phone verification may be required for signup. Your number will only be used to verify your identity for security purposes.</p>
            </header>

            <main>
                <form method="post" action="#" id="signup-form">
                    <input type="email" name="email" placeholder="Email"><br>
                    <input type="submit" value="Continue">
                </form>
                <p class="to-login">Already have an account? <a href="/login">Log in</a></p>
                <p class="or">OR</p>
                <ul>
                    <li>
                        <a href="#">
                            <div><img src="../static/images/sns-logo/search.png" alt="google logo"></div>
                            <div><p>Continue with Google</p></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="../static/images/sns-logo/애플로고 블랙.png" alt="google logo"></div>
                            <div><p>Continue with Apple</p></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="../static/images/sns-logo/네이버 로고.jpg" alt="google logo"></div>
                            <div><p>Continue with Naver</p></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div><img src="../static/images/sns-logo/kakao-talk.png" alt="google logo"></div>
                            <div><p>Continue with Kakao</p></div>
                        </a>
                    </li>
                </ul>
            </main>

            <footer>
                <p>2023 Only Pixel</p>
            </footer>
        </div>
    </body>
    <script>
        form.email.value = encodeURIComponent(form.email.value);
        form.submit();
    </script>
</html>